body {
    height: auto;
    font-family: Raleway;
    background-color: #c1f5e7;
    width: 98%;

}

#headerMain {
    height: 600px;
    width: 100%;
    background-color: #c1f5e7;
    border-bottom: solid;
    border-width: 10px;
    padding-top: 100px;
}

#infoContainer {
    position: relative;
    width: 100%;
}

.aboveName {
    font-size: 40px;
    padding-right: 1%;
    position: relative;
    left: 400px;
}

#myName {
    font-size: 80px;
    padding-bottom: 1%;
    position: relative;
    left: 515px;
}
#picture {
    border-radius: 15px;
    border-left: solid;
    border-top: solid;
    border-color: #010e28;
}
#keebImg {
    position: relative;
    left: 768px;
}

#topLinks {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 200px;

}

#link1 {
    border-bottom: solid;
}

#link2 {
    border-bottom: solid;
}

#link3 {
    border-bottom: solid;
}

#infoContainer {
    flex-direction: column;
    padding-top: 100px;
}

#aboutMe {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px ;
    font-size: 20px;
}
#abmHeader {
    font-size: 45px;
}

#aboutMeText {
    width: 35%;
    border-left: solid;
    border-color: #7edffb;
    border-width: 7px;
    padding-left: 2%;
}

#projects{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}
#projectHeader {
    font-size: 45px;
    display: flex;
    justify-content: space-around;
    width: 35%;
    position: relative;
    left: -34px;
}

img {
    border-radius: 15px;
}

#projectMini {
    width: 35%;
    border-left: solid;
    border-color: #7edffb;
    border-width: 7px;
    padding-left: 2%;
    font-size: 20px;
    position: relative;
    left: -76px;
    height: fit-content;

}
{
    width: 25%;
}
#p1Para {
    position: relative;
    bottom: 250px;
    left: 350px;
    color: white;
    font-size: 40px;
}


#contactInfo {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
#contactHeader {
    font-size: 45px;
    position: relative;
    left: px; 
}
#infoList {
    font-size: 20px;
    border-left: solid;
    border-color: #7edffb;
    border-width: 7px;
    padding-left: 2%;
    position: relative;
    left: -195px;

}
#emailLink{
    padding-bottom: 15px;
}
#phoneNumber {
    border-bottom: solid;
    border-width: 2px;
    margin-bottom: 15px;
}

#projectMini {
}
#imgHolder {
    border-radius: 15px;
}

#pPara {
    position: relative;
    bottom: 90px;
    left: 150px;
    font-size: 30px;
    color: #7edffb;
}

#imgHolder {
    padding-top: 5px;
}

@media screen and (max-width: 900px) {
    #headerMain {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboveName {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    #myname {
        font-size: 40px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 100px;

    }

    #aboutMe {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    #contactInfo {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



